body {
  background-color:purple}

nav {
  list-style-type: none;
background-color: Lavender;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
li{
  display: inline;
  padding: 13px;
  float: right;
}

li:hover{
  background-color: gold;
}
a {
  text-decoration: none;
  color: orange
}

h2 {
  color: yellow; 
  text-align: center; 
}

img {
  width: 150px;
  border: dashed blue 5px;
}

img:hover {
  width:200px; 
  border: red 2px;
}
