body {background-color:purple}
h2 {color: yellow; text-align: center; 
}
nav {
  list-style-type: none;
background-color: Lavender;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

li{
  display: inline;
  padding: 1%;
}
li:hover{
  background-color: gold;
}
a{
  text-decoration: none;
  color: orange
}
img {width: 150px;
border: dashed blue}
img:hover {width:200px; border: red 2px}
